.card {
  height: 100%;
  cursor: pointer;
}

.card:hover {
  border: 1px solid var(--main-clr);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
  transition: all .5s ease;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.imgCard {
  height: 180px;
  width: auto;
}

.btn-watch {
  height: 31px;
  line-height: 31px;
}