body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.pagination {
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

.willWatchWrap {
  height: 5rem;
}
