.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.pagination {
  cursor: pointer;
}

.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.imgCard {
  height: 180px;
  width: auto;
}

.btn-watch {
  height: 31px;
  line-height: 31px;
}

.nav-link {
  cursor: pointer;
}

.willWatchWrap {
  height: 5rem;
}
