.singleMoviePage {
    display: grid;
    gap: 1rem;
    grid-template-areas: 'poster header'
        'poster details'
        'description description'
        'video video';
    padding: 2rem;
}

iframe {
    grid-area: video;
    margin: 0 auto;
}



.singleMovieTitle {
    grid-area: header;
    text-align: center;
    font-size: 3rem;
    color: var(--main-clr);
}

.singleMoviePoster {
    grid-area: poster;
    width: 400px;
}

.singleMovieDetails {
    grid-area: details;
    width: 700px;
}

.singleMovieButtonsBlock {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.singleMovieButtonsBlock button,
.singleMovieButtonsBlock .adult {
    margin-left: 2rem;
    width: 5rem;
    height: 2rem;
    padding: 5px;
    font-size: 0.8rem;
    color: var(--main-clr);
    background-color: transparent;
    border: 2px solid var(--main-clr);
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    transition: all .3s ease;
}

.singleMovieButtonsBlock .adult {
    border: 2px solid red;
    color: red;
    text-align: center;
    font-weight: bold;
}

.singleMovieButtonsBlock button:hover {

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    transform: translate(-2px, -2px);
}

.singleMovieButtonsBlock button:hover,
.singleMovieButtonsBlock button.active {
    color: white;
    background-color: var(--main-clr);
}

/* .singleMovieButtonsBlock button:disabled {
    background-color: #7e7e7e;
} */

.singleMovieDescription {
    grid-area: description;
}

.singleMovieDetailName {
    display: block;
    color: rgb(167, 167, 167);
    font-weight: bold;
    min-width: 200px;
    margin-left: 10px;
}

.singleMovieProdCompany {
    padding-right: 35px;
    display: inline-block;
}

.singleMovieDetails ul {
    padding: 0;
}

.singleMovieDetails li {
    margin-top: 10px;
    padding: 5px;
    background-color: #f5f5f5;
    display: flex;

}

.singleMovieDetails li:first-child {
    background-color: transparent;
    margin: 50px 10px;
}

.singleMovieCompanyLogo {
    max-height: 30px;
    max-width: 150px;

    padding-right: 25px;
    /* padding-top: 10px; */
}

.singleMovieProdCountry {
    padding-right: 10px;
}

.singleMovieGenres {
    padding: 0 5px;
}