.singleMoviePage {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1rem;
    grid-template-areas: 'poster header'
        'poster details'
        'description description'
        'collection collection'
        'video video';
    padding: 2rem;
}

.singleMoviePage a {
    text-decoration: none;
}

.singleMovieTitle {
    grid-area: header;
    text-align: center;
    font-size: 3rem;
    color: var(--main-clr);
}

.singleMoviePoster {
    grid-area: poster;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.singleMovieDetails {
    grid-area: details;
    width: 100%;
}

.singleMovieButtonsBlock {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.singleMovieButtonsBlock button,
.singleMovieButtonsBlock .adult {
    margin-left: 1rem;
    width: 3rem;
    height: 2rem;
    padding: 5px;
    font-size: 0.8rem;
    color: var(--main-clr);
    background-color: transparent;
    border: 2px solid var(--main-clr);
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    transition: all .3s ease;
}

.singleMovieButtonsBlock .adult {
    border: 2px solid red;
    color: red;
    text-align: center;
    font-weight: bold;
}

.singleMovieButtonsBlock button:hover {

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    transform: translate(-2px, -2px);
}

.singleMovieButtonsBlock button:hover,
.singleMovieButtonsBlock button.active {
    color: white;
    background-color: var(--main-clr);
}

.singleMovieOriginalTitle {
    color: var(--main-clr);
}

.singleMovieDescription {
    grid-area: description;
}

.singleMovieDetailName {
    display: block;
    color: rgb(167, 167, 167);
    font-weight: bold;
    min-width: 200px;
    margin-left: 10px;
}

.singleMovieDetails ul {
    padding: 0;
}

.singleMovieDetails li {
    margin-top: 10px;
    padding: 5px;
    background-color: #f5f5f5;
    display: flex;

}

.singleMovieDetails li:first-child {
    background-color: transparent;
    margin: 50px 10px;
}

.singleMovieCompanyLogo {
    max-height: 30px;
    max-width: 150px;
    padding-right: 25px;
}

.singleMovieProdCountry {
    padding-right: 10px;
}

.detailContainer span,
.detailContainer a {
    display: inline-block;
    padding-right: 20px;
}

.bi .bi-bookmark-plus-fill {
    color: var(--main-clr);
    font-weight: bold;
}

.singleMovieCollection {
    grid-area: collection;
    text-align: center;
}

.singleMovieCollection .collectionCardsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px;
}

.collectionCardsContainer .collectionCard {
    color: rgb(167, 167, 167);
    max-width: 130px;
    margin: 0 25px;
}

.collectionCard h5 {
    font-size: 1rem;
}

.singleMoviePage iframe {
    width: 100%;
    margin: 2rem auto;
    grid-area: video;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}